.plans{
    padding: 5.6vw;

    h2{
        text-align: center;
    }

    &__list{
        display: flex;
        justify-content: space-around;

        @media (max-width: 768px){
            display: block;
        }

        &__item{
            text-align: center;
            padding: 60px 44px 44px;
            max-width: 380px;

            @media (max-width: 768px) {
                margin: 0 auto;
            }

            &--is-popular{
                background-image: url(../images/fundo_combo_plus.png);
                background-repeat: no-repeat;
                background-size: contain;
            }

            strong{
                margin-top: 24px;
            }

            img{
                width: 100%;
                display: block;
                margin: 0 auto;
            }
            
            &__button{
                margin-top: 2vw;
                margin-bottom: 8px;
            }

        }
    }

    p{
        text-align: center;
    }
}