@use 'variaveis';

.footer{
    padding: 2vw;
    text-align: center;

    p{
        margin-bottom: 24px;
    }

    &__link{
        color: variaveis.$titleColor;
        text-decoration: none;
    }
}