.hero{
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url(../images/Coraline-hero-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    flex-direction: column;
    @media (max-width:1023px){
        align-items: center;
        background-image: url(../images/Coraline_hero_tablet.png);
        padding-top: 170vh;
        background-size: contain;
    }
    
    @media (max-width:767px){
        align-items: center;
        background-image: url(../images/Coraline_hero_mobile.png);
        padding-top: 560px;
        background-size: contain;
    }
    &__content{
        max-width: 720px;
        text-align: center;
        
        p{
            margin-top: 16px;
        }
        &__ways-to-watch{
            
            &__list{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 16px;
                margin-top: 16px;

                @media (max-width: 769px){
                    display: block;
                    
                    a{
                        margin-top: 8px;
                    }
                }
            }
        }
    }

}